<nav class="navbar navbar-expand-sm navbar-dark bg-grey main-nav">
  <ul class="navbar-nav navbar-left">
    <li class="nav-item" id="rev">
      <img width="120" alt="Revature Logo" src="../assets/images/revature-logo2.png"></li>
    <li class="nav-item"><a class="nav-link" routerLink="/login">login</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/application">apply</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/home">home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/viewapps">view applications</a></li>
    <li class="nav-item" id="logout"><a class="nav-link" routerLink="/logout">logout</a></li>
  </ul>

</nav>