<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <br>
  <h5> Please log in to continue!</h5>
  <h5 [class]="loginerror"> {{error}} </h5><br>
</div>

<form style="text-align:center">
  <div class="credentials" id="login" style="width: 20rem">
    <div class="row justify-content-center">
      <div class="col-med">
        Email:<br>
        <input type="text" [(ngModel)]="email" name="email" required autofocus><br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-med">
        Password:<br>
        <input type="password" [(ngModel)]="pass" name="pass" required autofocus><br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-med"><br>
        <input type="submit" (click)="postCredentials()" name="cred">
      </div>
    </div>
  </div>
</form>